<template>
  <div class="h-50">
    <h1 class="big-title">Badgeuse</h1>

    <p>
      L'utilisateur 
        <span v-if="this.data">{{this.data.user}}</span> 
        <span v-else>XXX</span> 
        
        <span v-if="this.status">{{this.status}}</span> 
        <span v-else>{{this.status}}</span>.
    </p>
    <div>
      <input type="date" v-model="date" >
      <input type="time" v-model="time">
    </div>
    
    <div className="div-input">
      <button type="btn" className="submit" @click="fetchData">
        Clock
      </button>
    </div>
  </div>
</template>

<script>
  import moment from 'moment'
  import {callBackEndClock} from '../../context/Clock';

  // This is the component to display the Clock component
  export default {
      name: 'ClockManager',
      data(){
        return{
          /**
           * @vuese
           * The loading user information
           */
          loading: true,
          /**
           * @vuese
           * The data
           */
          data: null,
          /**
           * @vuese
           * The status of the user if he is working or not
           */
          status: null,
          /**
           * @vuese
           * The the date
           */
          date: null,
          /**
           * @vuese
           * The time
           */
          time: null
        }
      },
      async created() {
        const response = await callBackEndClock.getClocks()
        if(response !== null){
          this.data = response
          const test = response.time.split('T')
          this.date = test[0]
          this.time = test[1]
          this.status = response.status ? "\na commencé le travail le "+this.date+" "+this.time : "\nest en pause depuis "+ this.date+" "+this.time;
        }
      },
      methods: {
        /**
         * @vuese
         * This function is trigger when the user click on the clock button, it's send the new datetime to the API.
        */
        async fetchData () {
          const dateToSend = moment(this.date.toString() + " "+this.time.toString()).format()
          const response = await callBackEndClock.postClocks(dateToSend)
          this.data = response
          this.status = response.status ? "\na commencé le travail le "+this.date+" "+this.time : "\nest en pause depuis "+ this.date+" "+this.time;
        }
      }
  }
</script>

<style scoped>
  .div-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-start;
    margin-top: 2em;
  }
  .submit{
    width: auto;
    height: 2em;
    border: none;
    background-color: #4069e0;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 3em;
  }
  .submit:hover{
    background-color: #3557bd;
  }
  .submit:active{
    background-color: #3557bd;
    -webkit-box-shadow: inset 1px 1px 10px #294392;
    -moz-box-shadow: inset 1px 1px 10px #294392;
    box-shadow: inset 1px 1px 10px #294392;
  }
</style>