<template>
  <div class="p-20">
      <h3 class="title-graph">Title</h3>
     <BarChart :chartData="testData" />
  </div>
</template>

<script>
  import { defineComponent } from 'vue';
  import { BarChart } from 'vue-chart-3';

  // This is the component to display the BarChart component
  export default defineComponent({
    name: 'BarChartCustom',
    components: { BarChart },
    setup() {
      const testData = {
        labels: ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi'],
				datasets: [
					{
						label: 'Data One',
						backgroundColor: '#f87979',
						pointBackgroundColor: 'white',
						borderWidth: 1,
						pointBorderColor: '#249EBF',
						data: [40, 20, 30, 50, 90]
					},
					{
						label: 'Data Two',
						backgroundColor: '#77CEFF',
						pointBackgroundColor: 'white',
						borderWidth: 1,
						pointBorderColor: '#249EBF',
						data: [40, 20, 30, 50, 90]
					}
        ]
      };

      return { testData };
    },
  });
</script>

<style>
  .p-20{
    padding: 0 50px 0 50px;
  }
</style>