<template>
  <div>
      <h3 class="title-graph">Title</h3>
     <DoughnutChart :chartData="testData" />
  </div>
</template>

<script>
    import { Chart, registerables } from 'chart.js'

    Chart.register(...registerables)
    import { DoughnutChart } from 'vue-chart-3';
    
    // This is the component to display the DoughnutChart component
    export default({
        name: 'DoughnutChartCustom',
        components: { DoughnutChart },
        setup() {
            const testData = {
            labels: ['Paris', 'Nîmes', 'Toulon', 'Perpignan', 'Autre'],
            datasets: [
                {
                data: [30, 40, 60, 70, 5],
                backgroundColor: ['#77CEFF', '#0079AF', '#123E6B', '#97B0C4', '#A5C8ED'],
                },
            ],
            };

            return { testData };
        },
    });
</script>