<template>
  <div class="p-20">
      <h3 class="title-graph">Title</h3>
     <LineChart :chartData="testData" />
  </div>
</template>

<script>
  import { defineComponent } from 'vue';
  import { LineChart } from 'vue-chart-3';

  // This is the component to display the LineChart component
  export default defineComponent({
    name: 'LineChartCustom',
    components: { LineChart },
    setup() {
      const testData = {
        labels: ['January', 'February'],
        datasets: [
          {
            label: 'Data One',
            backgroundColor: '#f87979',
            data: [40, 35]
          },
          {
            label: 'Data Two',
            backgroundColor: '#97B0C4',
            data: [45, 30]
          }
        ]
      };

      return { testData };
    },
  });
</script>
<style>
  .p-20{
    padding: 0 50px 0 50px;
  }
</style>