<template>
	<div class="main-container">
		<div class="card">
			<h1 class="big-title">list of users</h1>
			<button class="btn btn-add" @click="showFormNewTeam()">New team</button>
            <div v-if="this.showAddTeam" class="information">
                <h3 class="big-title">Create new team</h3>
                <div class="flex-col">
                    <div class="flex-row">
                        <table class="customers left">
                            <thead >
                                <tr>
                                    <th v-for="col in this.gridColumnsEditTeams" :key="col">{{col}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="user in this.preloadUserCreation" :key="user.id">
                                    <td>
                                        {{user.firstnameUser}}
                                    </td>
                                    <td>
                                        {{user.lastnameUser}}
                                    </td>
                                    <td>
                                        <button class="btn btn-delete" @click="deleteUserFromNewTeam(user.id)">delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="right flex-row">
                            <div>
                                <h4 class="big-title">Select the manager</h4>

                                <select name="managers" v-model="managerSelectedToAdd" @change="onChange()">
                                    <option value="default" selected disabled>- select the manager -</option>
                                    <option v-for="manager in this.listManagerAdd" :key="manager.id" :value="manager.id" >{{manager.firstname + " " + manager.lastname}}</option>
                                </select>
                            </div>
                            
                            <div v-if="this.displayAddUser">
                                <h4 class="big-title">Select the users</h4>

                                <select name="users" v-model="listUserSelectedToNewTeam" multiple @change="onSelectAllUsersToNewTeam()">
                                    <option value="default" selected disabled>- select the users -</option>
                                    <option v-for="user in this.listUsersForEdit" :key="user.id" :value="user.id" >{{user.firstname + " " + user.lastname}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button class="btn submit" @click="createNewTeam">Create new team</button>
                </div>
			</div>
			<table class="customers">
				<thead>
					<tr>
						<th v-for="col in this.gridColumns" :key="col">{{col}}</th>
					</tr>
				</thead>
                <tbody>
                    <tr v-for="team in this.gridData" :key="team.id">
                        <td>
                            {{team.managerName}}
                        </td>
                        <td>
                            <ul>
                                <li v-for="user in team.users" :key="user.userId">
                                    {{user.userName}}
                                </li>
                            </ul>
                        </td>
                        <td>
                            <button class="btn btn-edit" @click="showInfoTeam(team.managerId)">Edit</button>
                            <button class="btn btn-delete" @click="deleteAllTeam(team.managerId)">delete</button>
                        </td>
                    </tr>
                </tbody>
			</table>
            <div v-if="this.showEditTeam" class="information">
                <h3 class="big-title">Information team</h3>
                <div class="flex-row">
                    <table class="customers left">
                        <thead >
                            <tr>
                                <th v-for="col in this.gridColumnsEditTeams" :key="col">{{col}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user in this.gridDataEditTeams" :key="user.id">
                                <td>
                                    {{user.firstnameUser}}
                                </td>
                                <td>
                                    {{user.lastnameUser}}
                                </td>
                                <td>
                                    <button class="btn btn-delete" @click="deleteUserFromTeam(user.id)">delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="right flex-col">
                        <h4 class="big-title">Add a new user</h4>

                        <select name="users" v-model="userSelectedToAdd">
                            <option value="default" selected disabled>- select the user to add -</option>
                            <option v-for="user in this.listUsersForEdit" :key="user.id" :value="user.id" >{{user.firstname + " " + user.lastname}}</option>
                        </select>

                        <button class="btn submit" @click="addNewUserToTeam">Add</button>
                    </div>
                </div>
			</div>
		</div>
	</div>
</template>

<script>
	import {callBackEnd} from '../../context/User';
	import {callBackEndTeams} from '../../context/Teams';

	export default {
		name: 'Index',
		data() {
			return {
                // default
				gridColumns: ["Manager", "Users", "Tools"],
				gridData: [],
				showEditTeam: false,
				showAddTeam: false,

                // edit and create
                gridColumnsEditTeams: ["Firstname", "Lastname", "Tools"],
                listUsersForEdit: [],

                // edit and delete
                managerIdSelected: null,

                // edit
                gridDataEditTeams: [],
                userSelectedToAdd: "default",


                // created
                preloadUserCreation: [],
                displayAddUser: false,
                managerSelectedToAdd: "default",
                listManagerAdd: [],
                listUserSelectedToNewTeam: [],
			}
		},
		async created() {
			this.loadData()
		},
		methods: {
            /**
             * @vuese
             * This function load data from db to display in the table
            */  
			async loadData () {
				this.gridData = []
				const teams = await callBackEndTeams.getAllTeams()

                for await (const team of teams) {
                    const managerData = await callBackEnd.getUser(team.manager)
                    const userData = await callBackEnd.getUser(team.user)

                    if(this.gridData.length <= 0) {
                        this.gridData.push(
                            {
                                "managerId": managerData.id,
                                "managerName": managerData.firstname + " " + managerData.lastname,
                                "users": [
                                    { 
                                        "userId": userData.id,
                                        "userName": userData.firstname + " " + userData.lastname
                                    }
                                ]
                            }
                        )
                    }else{
                        if(this.gridData.some(e => e.managerId === team.manager)){
                            for (let index = 0; index < this.gridData.length; index++) {
                                if(this.gridData[index].managerId === team.manager){
                                    this.gridData[index].users.push({
                                        "userId": userData.id,
                                        "userName": userData.firstname + " " + userData.lastname
                                    })
                                }
                            }
                        }else{
                            this.gridData.push({
                                "managerId": managerData.id,
                                "managerName": managerData.firstname + " " + managerData.lastname,
                                "users": [
                                    { 
                                        "userId": userData.id,
                                        "userName": userData.firstname + " " + userData.lastname
                                    }
                                ]
                            })
                        }
                    }
                }
			},
            /**
             * @vuese
             * this funtion is trigger when admin click on team edit
            */
            async showInfoTeam(managerId) {
                this.showEditTeam = true
                this.userSelectedToAdd = "default"
                this.managerIdSelected = managerId

                const result = await callBackEndTeams.getAllUserByManagerId(managerId)
                const listUsers = await callBackEnd.getAllUsers()


                this.listUsersForEdit = listUsers
                this.gridDataEditTeams = result
            },
            /**
             * @vuese
             * Add new user to the team selected
            */
            async addNewUserToTeam() {
                const result = await callBackEndTeams.addNewUserToTeam(this.userSelectedToAdd, this.managerIdSelected)
                if(result){
                    this.loadData()
                    this.showInfoTeam(this.managerIdSelected)
                }
            },
            /**
             * @vuese
             * This function delete the user from the team selected
             * @arg teamId - id of the team selected
            */
            async deleteUserFromTeam(teamId) {
                var r = confirm("Are you sure to delete the user: " + teamId + " from the team.");
				if (r == true) {
                    const result = await callBackEndTeams.deleteUserFromTeam(teamId)
                    if(result){
                        this.loadData()
                        this.showInfoTeam(this.managerIdSelected)
                    }
				}
            },
            /**
             * @vuese
             * This function delete all user from the team
            */
            async deleteAllTeam(managerId) {
                var r = confirm("Are you sure to delete the team.");
				if (r == true) {
                    const result = await callBackEndTeams.getAllUserByManagerId(managerId)
                    for await (const user of result) {
                        await callBackEndTeams.deleteUserFromTeam(user.id)
                    }

                    this.loadData()
				}
            },
            /**
             * @vuese
             * This function display the form to create a new team
            */
            async showFormNewTeam() {
                this.showAddTeam = !this.showAddTeam
                const listUsers = await callBackEnd.getAllUsers()
                this.listUsersForEdit = listUsers

                this.listManagerAdd = listUsers.filter(user => user.role === "Manager")
            },
            /**
             * @vuese
             * This function display the form to add user
            */
            onChange() {
                this.displayAddUser = true
            },
            /**
             * @vuese
             * This function is trigger when admin selected a user to add to the new team
            */
            onSelectAllUsersToNewTeam() {
                this.preloadUserCreation = []
                this.listUserSelectedToNewTeam.forEach(element => {
                    for (let index = 0; index < this.listUsersForEdit.length; index++) {
                        if(this.listUsersForEdit[index].id === element){
                            this.preloadUserCreation.push({id: element, firstnameUser: this.listUsersForEdit[index].firstname, lastnameUser: this.listUsersForEdit[index].lastname})
                        }
                    }
                });
            },
            /**
             * @vuese
             * This function send new team information to the API
            */
            async createNewTeam() {
                for await (const user of this.listUserSelectedToNewTeam){
                    console.log(user)
                    await callBackEndTeams.addNewUserToTeam(user, this.managerSelectedToAdd)
                }

                this.showAddTeam = false;
                this.preloadUserCreation = [];
                this.managerSelectedToAdd = "default"
                this.listUserSelectedToNewTeam = []
                this.listManagerAdd = []
                this.displayAddUser = false

                this.loadData()
            },
            /**
             * @vuese
             * This function delete all user from the new team created
            */
            deleteUserFromNewTeam(id) {
                //arr.splice(index, 1);
                for (let index = 0; index < this.preloadUserCreation.length; index++) {
                    if(this.preloadUserCreation[index].id === id){
                        this.preloadUserCreation.splice(index, 1);
                    }   
                }
            }
		}
	}
</script>


<style scoped>
    .flex-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .flex-col .submit{
        margin-left: auto;
        margin-right: auto;
        background-color:royalblue;
        margin-bottom: 2em;
    }
    .flex-row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2em;
    }
    .left{
        width: 55%!important;
    }
    .right{
        width: 40%!important;
    }
	.main-container{
		display: flex;
		align-items: flex-start;
		justify-content: center;
		min-height: calc(100vh - 3em);
		height: auto;
		padding-top: 4em;
		padding-bottom: 5em;
	}
	.customers {
		font-family: Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}
	.customers td, .customers th {
		border: 1px solid #ddd;
		padding: 8px;
	}
	.customers tr:nth-child(even){background-color: #f2f2f2;}
	.customers tr:hover {background-color: #ddd;}
	.customers th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: royalblue;
		color: white;
	}
	.btn{
        width: auto;
		height: 2em;
		border: none;
		color: white;
		font-weight: bold;
		font-size: 1em;
		border-radius: 5px;
		cursor: pointer;
		margin: 2px
	}
	.btn-edit{
		background-color: #00b16a;
	}
	.btn-edit:hover{
        background-color: #008f56;
    }
    .btn-edit:active{
        background-color: #008f56;
        -webkit-box-shadow: inset 1px 1px 10px #017044;
        -moz-box-shadow: inset 1px 1px 10px #017044;
        box-shadow: inset 1px 1px 10px #017044;
    }
	.btn-delete{
		background-color: #f03434;
	}
	.btn-delete:hover{
        background-color: #ce2828;
    }
    .btn-delete:active{
        background-color: #ce2828;
        -webkit-box-shadow: inset 1px 1px 10px #c21818;
        -moz-box-shadow: inset 1px 1px 10px #c21818;
        box-shadow: inset 1px 1px 10px #c21818;
    }
	.card{
		width: 80%;
		margin-bottom: 3em;
	}
	.btn-add{
		display: flex;
		align-items: center;
		margin-bottom: 1em!important;
		background-color: royalblue;
		width: 7em;
		justify-content: center;
	}
    .information{
        margin-top: 2em;
    }
	@media only screen and (max-width: 1024px) {
		.footer-input{
			width: 90%;
		}
		.card{
			width: 90%!important;
		}
		table thead {
			border: none;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		table tr {
			border-bottom: 3px solid #ddd;
			display: block;
			margin-bottom: .625em;
		}
		
		table td {
			border-bottom: 1px solid #ddd;
			display: block;
			font-size: .8em;
			text-align: right;
		}
		
		table td::before {
			/*
			* aria-label has no advantage, it won't be read inside a table
			content: attr(aria-label);
			*/
			content: attr(data-label);
			float: left;
			font-weight: bold;
			text-transform: uppercase;
		}
		
		table td:last-child {
			border-bottom: 0;
		}
	}
</style>