<template>
    <div class="w-100">
        <h1 class="big-title">Alerts</h1>

        <div class="alerts-container">
            
            <div class="alert-container" v-for="item in listAlerts" :key="item.type">
                <div class="alert-header">
                    <strong class="mr-auto">{{item.type}}</strong>
                    <!-- <small>11 mins ago</small> -->
                    <button type="button" class="ml-2 mb-1 close" @click="handleCloseAlert(item.id)">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="alert-body">
                    <span v-if="item.value"></span>
                    {{item.message}}
                </div>
            </div>
            
        </div>
    </div>
</template>

<script>
    import { callBackEnd } from '../context/Alert'

    // This is the component Alert, it display all alerts if user is working less or more in the month
    export default {
        name: 'Alert',
        data(){
            return {
                /**
                 * @vuese
                 * A list of alerts
                 */
                listAlerts: []
            }
        },
        methods: {
            /**
             * @vuese
             * Close the alert
             * @arg id - the id of the alert
            */
            handleCloseAlert (id) {
                for (let index = 0; index < this.listAlerts.length; index++) {
                    if(this.listAlerts[index].id == id){
                        this.listAlerts.splice(index, 1);
                    }
                }
            }
        },
        async created() {
            /**
             * @vuese
             * Reverses string
             * @type Array
            */
            const alertFromBack = await callBackEnd.getAlertTwoDates()

            if(alertFromBack.value > 0){
                alertFromBack["message"] = "You worked "+alertFromBack.value+" more hours this month."
            }else if (alertFromBack.value < 0) {
                alertFromBack["message"] = "You must make up "+alertFromBack.value+" hours before the end of the month."
            }else {
                alertFromBack["message"] = "Everything is Ok."
            }
            alertFromBack["isDisplay"] = true
            alertFromBack["id"] = 1
            this.listAlerts.push(alertFromBack)
        }
    }
</script>

<style scoped>
    .alerts-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 18em;
        overflow: overlay;
    }
    .alert-container{
        width: 90%;
        /* overflow: hidden; */
        font-size: .875rem;
        background-color: rgba(255,255,255,.85);
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 0.25rem;
        box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
        margin-bottom: 1em;
    }
    .alert-header{
        display: flex;
        align-items: center;
        padding: 0.25rem 0.75rem;
        color: #6c757d;
        background-color: rgba(255,255,255,.85);
        background-clip: padding-box;
        border-bottom: 1px solid rgba(0,0,0,.05);
    }
    .alert-body{
        padding: 0.75rem;
        text-align: left;
    }
    .mr-auto{
        margin-right: auto!important;
    }
    button.close {
        padding: 0;
        background-color: transparent;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
    }
    .close{
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
    }
    @media only screen and (max-width: 1024px) {
        .alerts-container{
            height: auto;
        }
    }
</style>