<template>
    <div id="navbar">
        <div class="parent-nav">
            <div class="navbar-container hide-small-screen">
                <router-link to="/Dashboard" class="navbar-item">Dashboard</router-link>
                <router-link to="/workingtime" class="navbar-item">My schedules</router-link>
                <router-link to="/admin" class="navbar-item" v-if="this.isAdmin">Admin</router-link>
                <router-link to="/teams" class="navbar-item" v-if="this.isAdmin">Teams</router-link>
            </div>
            <div class="navbar-container">
                <h4 class="title">TimeManager</h4>
            </div>
            <span class="navbar-container mobile-menus hide-big-screen" @click="onDisplayCollaps">
                <span v-if="this.displaycCollaps">x</span>
                <span v-else>≡</span>
            </span>
             <div class="navbar-container profile-block hide-small-screen">
                <router-link to="/user" class="navbar-item ">
                    <div class="profile-block">
                        <img src="../assets/profile-icon.png" class="profile-icon"/>
                        <section>
                            <span class="navbar-item">{{this.firstname}} {{this.lastname}}</span>
                        </section>
                    </div>
                </router-link>
                <div class="container-svg" @click="logoutUser">
                    <img :src="logout" class="logout-svg"/>
                </div>
            </div>
        </div>
        <div class="mobile hide-big-screen" v-if="this.displaycCollaps">
            <router-link to="/Dashboard" class="navbar-item">Dashboard</router-link>
            <router-link to="/workingtime" class="navbar-item">My schedules</router-link>
            <router-link to="/admin" class="navbar-item" v-if="this.isAdmin">Admin</router-link>
            <router-link to="/teams" class="navbar-item" v-if="this.isAdmin">Teams</router-link>
            <div class="container-svg navbar-item" @click="logoutUser">
                Logout
                <img :src="logout" class="logout-svg"/>
            </div>
        </div>
    </div>
</template>

<script>
    import { callBackEnd } from '../context/User'
    import { callBackEndAuth } from '../context/AuthService'
    import jwt from 'jsonwebtoken'

    export default {
        name: 'Navbar',
        data(){
            return {
                /**
                 * @vuese
                 * The firstname of the current user
                 */
                firstname: null,
                /**
                 * @vuese
                 * The lastname of the current user
                 */
                lastname: null,
                /**
                 * @vuese
                 * The svg for the logout
                 */
                logout: require('..//assets/logoutSVG.svg'),
                /**
                 * @vuese
                 * The boolean to display or not the navbar in phone vue
                 */
                displaycCollaps: false,
                /**
                 * @vuese
                 * The display or not the items in the navbar if current user is admin
                 */
                isAdmin: false,
            }
        },
        async created() {
            const token = sessionStorage.getItem("token")
            var decoded = jwt.decode(token);

            const user = await callBackEnd.getUser(decoded.sub)

            this.firstname = user.firstname
            this.lastname = user.lastname
            this.isAdmin = user.role === 'Admin'
        },
        methods: {
            /**
             * @vuese
             * This function is for the mobile version to display or not the navbar
            */
            onDisplayCollaps() {
                this.displaycCollaps = !this.displaycCollaps
            },
            /**
             * @vuese
             * This function is to logout user from the web app, delete session storage
            */
            async logoutUser() {
                if(await callBackEndAuth.logout()){
                    sessionStorage.removeItem('token');
                    this.$router.push('/login')
                }
            },
            reloadPage() {
              location.href = "/workingtime";
            }
        }
    }
</script>

<style scope>
    #navbar{
        height: auto;
        background-color: royalblue;
    }
    .parent-nav{
        height: 3em;
        display: flex;
    }
    .navbar-container{
        display: flex;
        justify-content: center;
        width: 50%;
        height: 100%;
        align-items: center;
    }
    .mobile{
        height: auto;
        background-color: royalblue;
        position: absolute;
        width: 100%;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .title{
        font-size: x-large;
        color: white;
        margin: 0;
    }
    .mobile-menus{
        display: flex;
        font-size: xx-large;
        margin-top: 3px;
        margin-right: 0.5em;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-end;
        color: white;
    }
    .router-link-exact-active .navbar-item{
        color: #42b983;
    }
    a.router-link-exact-active {
        color: #42b983;
    }
    .navbar-item{
        padding: 0 10px 0 10px;
        text-decoration: none;
        color: white;
        font-weight: 700;
        width: 90%;
        text-align: left;
        height: 3em;
        font-size: x-large;
        display: flex;
        align-items: center;
    }

    .logout-svg{
        width: 1em;
        margin-left: 1em;
    }
    .profile-block {
        display: flex;
        align-items: center;
    }
    @media only screen and (min-width: 875px) {
        .navbar-item{
            font-size: medium;
            width: auto;
        }
        .profile-icon {
            filter: invert(100%);
            height: 1.5em;
            padding: 0.2em 0.2em 0em 0.2em;
            margin: 0.5em 0.3em 0.5em 0em;
            border: 0.15em solid black;
            border-radius: 5px;
        }
        .hide-big-screen{
            display: none!important;
        }
    }
    @media only screen and (max-width: 875px) {
        .hide-small-screen{
            display: none!important;
        }
        .profile-icon {
            filter: invert(100%);
            height: 1.5em;
            padding: 0.2em 0.2em 0em 0.2em;
            margin: 0.5em 0.3em 0.5em 0em;
            border: 0.15em solid black;
            border-radius: 5px;
        }
        .profile-block {
            display: flex;
            align-items: center;
        }
    }
</style>
