<template>
  <div id="WorkingTimes">
    <table class="card" v-for="(date) in this.dates" :key="date">
      <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>In</th>
        <th>Out</th>
      </tr>
      </thead>
      <tbody>
      <td>
        <p class="user_name">{{date.name}}</p>
      </td>
      <td>
        <input class="form-control" type="date" v-model="date.day" />
      </td>
      <td>
        <input class="form-control" type="time" v-model="date.start" style="width: auto;"/>
      </td>
      <td>
        <input class="form-control" type="time" v-model="date.end" style="width: auto;" />
      </td>
      <td>
        <button class="btn btn-success" id="submit" @click="update">Update</button>
      </td>
      </tbody>
    </table>
    <div>
      <p style="margin-right: 1em;">Delete user : </p>
      <input type="text" @click="deleteWorkingTime" placeholder="User id">
      <button type="submit" class="searchButton"> Delete
      </button>
    </div>
  </div>
</template>


<script>
import {callBackEnd} from "../context/WorkingTimes";
import moment from "moment";

export default {
  name: 'Calendar',
  props: {
    msg: String
  },
  data() {
    return {
      id: '',
      dates: [
        {
          tmp: '',
          name: 'Jean Bon',
          end: '',
          start: '',
          day: ''
        },
      ]
    }
  },
  async mounted() {
    const response = await callBackEnd.getWorkingTimes();
    for (var index = 0; index < response.length; index++) {
      this.dates[index].day = moment(response[index].start).format('DD-MM-YYYY');
      this.dates[index].start = moment(response[index].start).format('hh:mm');
      this.dates[index].end = moment(response[index].end).format('hh:mm');
      console.log(index);
      console.log("start = "+response[index].start);
      console.log(this.dates[index].start);
    }
  },
  methods: {
    async update() {
      const test = this.dates
      for (var i = 0; i < test.length; i++) {
        callBackEnd.postWorkingTimes(1, test[i].day + " " + test[i].start, test[i].day + " " + test[i].end);
      }
    },
    async deleteWorkingTime(){
      const response = await callBackEnd.deleateWorkingTimes(this.id+"/1")
      console.log(response);
    }
  }
}
</script>

<style>

.card {
  position: relative;
  margin: 150px;
  width: 550px;
  padding: 20px;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 0;
}
@media only screen and (max-width: 600px) {
  table {width: 100%;}
  tr:first-child {display: none; overflow: hidden; width: 100%;}
  td {float: right; width: 100%;}
}
</style>