<template>
    <div class="main-container">
        <div class="card">
            <form @submit="fetchData">
                <h1 class="big-title">Login</h1>
                <div className="div-input input">
                    <label htmlFor="email">Email adresse</label>
                    <input type="email" name="email" id="email" required v-model="email" className="footer-input footer-input-top transition" >
                    <small>Error message</small>
                </div>
                <div className="div-input input">
                    <label htmlFor="password">Password</label>
                    <input type="password" id="password" name="password" v-model="password" className="footer-input footer-input-top transition" required/>
                    <small>Error message</small>
                </div>
                <div className="div-input">
                    <button type="submit" className="submit">
                        Login
                    </button>
                </div>
                <p>Not regested yet you can register <router-link to="/register">here</router-link></p>
                <router-link to="/reset-password">Forgot your password ?</router-link>
            </form>
        </div>
    </div>
</template>

<script>
    import {callBackEndAuth} from "../../context/AuthService";
    import {verif} from '../../services/isTokenValid'
    import sha256 from 'sha256'
 
    // This is the component to display the login component
    export default {
        name: 'Login',
        data(){
            return{
                /**
                 * @vuese
                 * The email send by the user in the form
                 */
                email: "",
                /**
                 * @vuese
                 * The password of the user to connect the user
                 */
                password: ""
            }
        },
        created() {
            if(sessionStorage.getItem('token') !== null && verif.isTokenExpired()){
                this.$router.push('/dashboard')
            }
        },
        methods: {
            /**
             * @vuese
             * This function display the input required after the user click on the button connection and it's failed because some fields is required
             * @arg input - The DOM element of the input that is required
             * @arg message - The message to display below the inpute required
            */
            showError (input, message) {
                const formControl = input.parentElement

                formControl.className = "div-input input error"
                const small = formControl.querySelector("small")
                small.innerHTML = message
            },
            /**
             * @vuese
             * Remove the red border when the field change status
             * @arg input - the DOM element of the input
            */
            showSuccess(input){
                const formControl = input.parentElement
                formControl.className = "div-input input success";
            },
            /**
             * @vuese
             * This function is trigger when the user click on the login button, it's store in the session storage the token.
            */
            async fetchData (e) {
                 e.preventDefault();
                let isValide = true
                var inputs = document.getElementsByTagName("input");
                
                for (let index = 0; index < inputs.length; index++) {
                    if(inputs[index].value.trim() === ""){
                        isValide = false
                        this.showError(inputs[index], inputs[index].name + " is required")
                    }else{
                        this.showSuccess(inputs[index])
                    }
                }

                if(isValide){
                    const shaPassword = sha256(this.password)
                    const token = await callBackEndAuth.login(this.email, shaPassword)
                    if(token !== undefined){
                        sessionStorage.token = token
                        this.$router.push('/dashboard')
                    }
                }
            }
        }
    }
</script>

<style scoped>
    .main-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 3em);
        padding-top: 2.8em;
	}
    .submit{
        width: 100%;
        height: 3em;
        border: none;
        background-color: #4069e0;
        color: white;
        font-weight: bold;
        font-size: 1em;
        border-radius: 5px;
        cursor: pointer;
    }
    .submit:hover{
        background-color: #3557bd;
    }
    .submit:active{
        background-color: #3557bd;
        -webkit-box-shadow: inset 1px 1px 10px #294392;
        -moz-box-shadow: inset 1px 1px 10px #294392;
        box-shadow: inset 1px 1px 10px #294392;
    }
    .card{
        width: 40% !important;
    }
    .flex{
        justify-content: flex-start;
        align-content: center;
    }

    .input small {
        display: block;
        color: #cf000f;
        font-weight: bold;
        font-size: 11px;
        padding-top: 3px;
        visibility: hidden;
    }

    .input.success input{
        border-bottom-width: 4px;
        border-left: none;
        border-top: none;
        border-right: none;
    }
    .input.success small{
        visibility: hidden;
    }

    .input.error input{
        border: 2px solid #e74c3c;
    }

    .input.error small{
        visibility: visible;
    }

    @media only screen and (max-width: 1024px) {
        .footer-input{
            width: 92%;
        }
        .card{
            width: 90% !important;
        }
        .flex-container {
            height: calc(100vh - 3em);
        }
    }
</style>