<template>
    <div class="main-container">
        <div class="card">
            <form>
                <h1 class="big-title">Register</h1>
                <div class="">
                    <div className="div-multiple">
                        <div className="div-input input">
                            <label htmlFor="firstname">firstname</label>
                            <input type="text" id="firstname" name="firstname" v-model="firstname" className="footer-input transition" />
                            <small>Error message</small>
                        </div>
                        <div className="div-input input">
                            <label htmlFor="lastname">Last name </label>
                            <input type="text" id="lastname" name="lastname" v-model="lastname" className="footer-input transition" />
                            <small>Error message</small>
                        </div>
                    </div>
                    <div className="div-input input">
                        <label htmlFor="username">Username</label>
                        <input type="username" id="username" name="username" v-model="username" className="footer-input transition" />
                        <small>Error message</small>
                    </div>
                    <div className="div-input input">
                        <label htmlFor="email">Email adresse</label>
                        <input type="email" id="email" name="email" v-model="email" className="footer-input transition" />
                        <small>Error message</small>
                    </div>
                    <!-- <div className="div-multiple">
                        <div className="div-input">
                            <label htmlFor="password">Password</label>
                            <input type="password" id="password" name="password" className="input-form transition" />
                        </div>
                        <div className="div-input">
                            <label htmlFor="verify-password">Verify password</label>
                            <input type="password" id="verify-password" name="verify-password" className="input-form transition" />
                        </div>
                    </div> -->
                    <div className="div-input input">
                        <label htmlFor="password">Password</label>
                        <input type="password" id="password" name="password" v-model="password" className="footer-input transition" />
                        <small>Error message</small>
                    </div>
                    <div className="div-input input">
                        <label htmlFor="verify-password">Verify password</label>
                        <input type="password" id="verify-password" name="verify-password" v-model="verifyPassword" className="footer-input transition" />
                        <small>Error message</small>
                    </div>
                    <div className="div-input">
                        <button type="button" className="submit" @click="fetchData">
                            Create account
                        </button>
                    </div>
                    <p>Allready have an account login <router-link to="/login">here</router-link></p>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {callBackEndAuth} from "../../context/AuthService";
    import sha256 from 'sha256'
    
    // This is the component to display the register component
    export default {
        name: 'Register',
        data(){
            return{
                /**
                 * @vuese
                 * The firstname of the new user in the form
                 */
                firstname: "",
                /**
                 * @vuese
                 * The lastname of the new user in the form
                 */
                lastname: "",
                /**
                 * @vuese
                 * The email of the new user in the form
                 */
                email: "",
                /**
                 * @vuese
                 * The password of the new user in the form
                 */
                password: "",
                /**
                 * @vuese
                 * The verification of the password of the new user in the form
                 */
                verifyPassword: "",
                /**
                 * @vuese
                 * The username of the new user in the form
                 */
                username: ""
            }
        },
        methods: {
            /**
             * @vuese
             * This function display the input required after the user click on the button connection and it's failed because some fields is required
             * @arg input - The DOM element of the input that is required
             * @arg message - The message to display below the inpute required
            */
            showError (input, message) {
                const formControl = input.parentElement

                formControl.className = "div-input input error"
                const small = formControl.querySelector("small")
                small.innerHTML = message
            },
            /**
             * @vuese
             * Remove the red border when the field change status
             * @arg input - the DOM element of the input
            */
            showSuccess(input){
                const formControl = input.parentElement
                formControl.className = "div-input input success";
            },
            /**
             * @vuese
             * This function is trigger when the user click on the register button, it's send the new user form to the API.
            */
            async fetchData () {
                let isValide = true
                var inputs = document.getElementsByTagName("input");

                for (let index = 0; index < inputs.length; index++) {
                    if(inputs[index].value.trim() === ""){
                        isValide = false
                        this.showError(inputs[index], inputs[index].name + " is required")
                    }else{
                        this.showSuccess(inputs[index])
                    }
                }

                if(this.password === this.verifyPassword && isValide){
                    const shaPassword = sha256(this.password)
                    const result = callBackEndAuth.register(this.username, this.email, shaPassword, this.lastname, this.firstname)
                    if(result){
                        this.$router.push('/login')
                    }
                }else{
                    console.log("password is not identical.")
                }
            }
        }
    }
</script>

<style scoped>
	.main-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
	}
    .div-multiple{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom:20px;
    }
    .div-multiple .div-input{
        width: 48%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
        margin: 0;
    }
    .div-multiple .div-input .input-form{
        border-bottom-width: 4px;
        border-left: none;
        border-top: none;
        border-right: none;
        padding: 0 0.75rem 0 0.78rem;
        border-color: #eaeaea;
        background-color: #f2f2f2;
        color: rgba(55, 65, 81);
        border-radius: 4px;
        height: 2rem;
        width: 90%;
        transition-duration: 500ms;
    }
    .div-multiple .div-input .input-form:focus{
        border-color: rgba(124, 58, 237, 1);
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
    .card{
        width: 60% !important;
    }

    .input small {
        display: block;
        color: #cf000f;
        font-weight: bold;
        font-size: 11px;
        padding-top: 3px;
        visibility: hidden;
    }

    .input.success input{
        border-bottom-width: 4px;
        border-left: none;
        border-top: none;
        border-right: none;
    }
    .input.success small{
        visibility: hidden;
    }

    .input.error input{
        border: 2px solid #e74c3c;
    }

    .input.error small{
        visibility: visible;
    }
    .submit{
        width: 100%;
        height: 3em;
        border: none;
        background-color: #4069e0;
        color: white;
        font-weight: bold;
        font-size: 1em;
        border-radius: 5px;
        cursor: pointer;
    }
    .submit:hover{
        background-color: #3557bd;
    }
    .submit:active{
        background-color: #3557bd;
        -webkit-box-shadow: inset 1px 1px 10px #294392;
        -moz-box-shadow: inset 1px 1px 10px #294392;
        box-shadow: inset 1px 1px 10px #294392;
    }
     @media only screen and (max-width: 1024px) {
        .footer-input{
            width: 85%;
        }
        .card{
            width: 90% !important;
        }
        .flex-container {
            height: calc(100vh - 3em);
        }
    }
</style>