<template>
	<div class="main-container">
		<div class="card">
			<h1 class="big-title">list of users</h1>
			<button class="btn btn-add" @click="showFormNewUser()">New user</button>
			<div v-if="this.showAddUser">
				<form>
					<h1 class="big-title mb-1">add new user</h1>
					<div class="">
						<div className="div-multiple">
							<div className="div-input input">
								<label htmlFor="firstname">firstname</label>
								<input type="text" id="firstname" name="firstname" v-model="this.newUser.firstname" className="footer-input transition" />
								<small>Error message</small>
							</div>
							<div className="div-input input">
								<label htmlFor="lastname">Last name </label>
								<input type="text" id="lastname" name="lastname" v-model="this.newUser.lastname" className="footer-input transition" />
								<small>Error message</small>
							</div>
						</div>
						<div className="div-input input">
							<label htmlFor="username">Username</label>
							<input type="username" id="username" name="username" v-model="this.newUser.username" className="footer-input transition" />
							<small>Error message</small>
						</div>
						<div className="div-input input">
							<label htmlFor="email">Email adresse</label>
							<input type="email" id="email" name="email" v-model="this.newUser.email" className="footer-input transition" />
							<small>Error message</small>
						</div>
						<div className="div-input input">
							<label htmlFor="password">Password</label>
							<input type="password" id="password" name="password" v-model="this.newUser.password" className="footer-input transition" />
							<small>Error message</small>
						</div>
						<div className="div-input">
							<button type="button" className="submit" @click="createNewUser">
								Create account
							</button>
						</div>
					</div>
				</form>
			</div>
			<table id="customers">
				<thead>
					<tr>
						<th v-for="col in this.gridColumns" :key="col">{{col}}</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="user in this.gridData" :key="user.id">
						<td>
							{{user.firstname}}
						</td>
						<td>
							{{user.lastname}}
						</td>
						<td>
							{{user.email}}
						</td>
						<td>
							{{user.roles}}
						</td>
						<td>
							<button class="btn btn-edit" @click="showInfoUser(user.id)">Edit</button>
							<button class="btn btn-delete" @click="deleteUser(user.id)">delete</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div v-if="this.showEditUser">
				<section class="div-input input">
					<h1 class="big-title mb-1">User profile</h1>

					<div className="div-input">
						<label htmlFor="firstname">Firstname</label>
						<input class="footer-input transition" type="text" v-model="this.userSelected.firstname" placeholder="Firstnamer"/><br>
					</div>
					<div className="div-input">
						<label htmlFor="lastname">Last name </label>
						<input class="footer-input transition" type="text" v-model="this.userSelected.lastname" placeholder="Lastname"/><br>
					</div>

					<div className="div-input">
						<label htmlFor="email">Email adress</label>
						<input class="footer-input transition" type="email" v-model="this.userSelected.email" placeholder="example@example.com"/><br>
					</div>

					<select name="roles" v-model="this.userSelected.roleId" >
						<option v-for="role in this.listRoles" :key="role.id" :value="role.id" >{{role.name}}</option>
					</select>
          <div>
            <DxScheduler
                :data-source="dataSource"
                :current-date="currentDate"
                :views="views"
                :height="400"
                text-expr="Text"
                current-view="month"
                start-date-expr="start"
                end-date-expr="end"
                date-serialization-format="yyyy-MM-dd HH:mm:ss"
            ></DxScheduler>
          </div>
					<button class="btn submit" @click="sendUpdateUser">Save</button>
				</section>
			</div>
		</div>
	</div>
</template>

<script>
	import {callBackEnd} from '../../context/User';
	import {callBackEndRoles} from '../../context/Roles';
  import DxScheduler from 'devextreme-vue/scheduler';
  import CustomStore from "devextreme/data/custom_store";
  import DataSource from "devextreme/data/data_source";
  import { callBackEndCalendar } from "../../context/WorkingTimes";
  import 'devextreme/dist/css/dx.light.css';
  
	// This is the component to display the admin component
	export default {
		// Index page for the admin
		name: 'Admin',
    components: {
		DxScheduler,
    },
    data() {
			return {
				/**
				 * @vuese
				 * The list of all columns in the table
				 */
				gridColumns: ["Firstname", "Lastname", "Email", "Roles", "Tools"],
				id: '1',
				views: ['day', 'workWeek', 'month'],
				currentDate: new Date(2021, 9, 27),
				dataSource: this.LoadScheduler(),
				/**
                 * @vuese
                 * Store all data to display in the body of the table
                 */
				gridData: [],
				/**
                 * @vuese
                 * Store the list of the roles from the DB
                 */
				listRoles: [],
				/**
                 * @vuese
				 * @type boolean
				 * store the boolean to display or not the form to edit the user
                 */
				showEditUser: false,
				/**
                 * @vuese
				 * @type boolean
				 * store the boolean to display or not the form to add a new user
                 */
				showAddUser: false,
				/**
                 * @vuese
				 * @type boolean
				 * store the user selected in the table by ths user
                 */
				userSelected: {
					id: "",
					firstname: "",
					lastname: "",
					email: "",
					rolename: "",
					roleId: ""
				},
				/**
                 * @vuese
				 * @type boolean
				 * store form of the new user to create
                 */
				newUser: {
					firstname: null,
					lastname: null,
					email: null,
					password: null,
					username: null,
					role: 1
				}
			}
		},
		// when the compoent is load, the script load all data to display in the table
		async created() {
			this.loadData()
		},
		methods: {
			LoadScheduler() {
				return new DataSource({
					store: new CustomStore({
						insert: (appointmentData, values) => {
							return callBackEndCalendar.postWorkingTimes(appointmentData.start, appointmentData.end, this.userSelected.id).then(response => {
							values = response;
							console.log(response)
							return values;
							});
						},
						remove: (appointmentData, values) => {
							return callBackEndCalendar.deleateWorkingTimes(appointmentData.id).then(response => {
							values = response;
							console.log(response)
							return values;
							});
						},
						load: (appointmentData, values) => {
							return callBackEndCalendar.getWorkingTimes(this.userSelected.id).then(response => {
							console.log('response ' + response);
							values = response;
							return values;
							});
						},
						update: (appointmentData, values) => {
							var result = callBackEndCalendar.putWorkingTimes(appointmentData.id, appointmentData.start, appointmentData.end).then(response => {
							values = response;
							return values;
							});
							return result;
						},
					})
				})
			},
            /**
             * @vuese
             * This function display the input required after the user click on the button connection and it's failed because some fields is required
             * @arg input - The DOM element of the input that is required
             * @arg message - The message to display below the inpute required
            */
			showError (input, message) {
                const formControl = input.parentElement

                formControl.className = "div-input input error"
                const small = formControl.querySelector("small")
                small.innerHTML = message
            },
			/**
             * @vuese
             * Remove the red border when the field change status
             * @arg input - the DOM element of the input
            */
            showSuccess(input){
                const formControl = input.parentElement
                formControl.className = "div-input input success";
            },
			/**
             * @vuese
             * Send the form to create a user to the API
            */
            async createNewUser () {
                let isValide = true
                var inputs = document.getElementsByTagName("input");

                for (let index = 0; index < inputs.length; index++) {
                    if(inputs[index].value.trim() === ""){
                        isValide = false
                        this.showError(inputs[index], inputs[index].name + " is required")
                    }else{
                        this.showSuccess(inputs[index])
                    }
                }

                if(isValide){
                    const result = await callBackEnd.postUser(this.newUser)
					if(result){
						this.showAddUser = false
						this.loadData()
					}
                }else{
                    console.log("password is not identical.")
                }
            },
			/**
             * @vuese
             * Event on click create new user, display the form
            */
			showFormNewUser(){
				this.showAddUser = !this.showAddUser
			},
            /**
             * @vuese
             * This function load all user from the API
            */
			async loadData () {
				this.gridData = []
				const users = await callBackEnd.getAllUsers()
				users.forEach(user => {
					this.gridData.push({
						id: user.id,
						firstname: user.firstname,
						lastname: user.lastname,
						email: user.email,
						roles: user.role
					})
				})
			},
            /**
             * @vuese
             * EEvent on click edit user load information of the user and display it
			 * @arg userId - the id of the user to show more information
            */
			async showInfoUser (userId) {
				const roles = await callBackEndRoles.getAllRoles()
				const user = await callBackEnd.getUser(userId)
        this.dataSource = this.LoadScheduler();

				this.showEditUser = !this.showEditUser
				this.listRoles = roles

				this.userSelected.id = user.id
				this.userSelected.firstname = user.firstname
				this.userSelected.lastname = user.lastname
				this.userSelected.email = user.email
				this.userSelected.rolename = user.role
				this.userSelected.roleId = roles.find(e => e.name === user.role).id
			},
            /**
             * @vuese
             * onClick the delete button of the user ask in alert if the admin is sure to delete the user and delete it
			 * @arg userId - the Id of the user
            */
			async deleteUser (userId) {
				var r = confirm("Are you sure to delete the user: " + userId);
				if (r == true) {
					const value = await callBackEnd.deleteUser(userId)
					console.log(value)
					if(value){
						this.loadData()
					}
				}
			},
            /**
             * @vuese
             * onClick on update user  send the form to the PUT user in the API
			 * @arg userId - the Id of the user
            */
			async sendUpdateUser () {
				const users = await callBackEnd.updateUser(this.userSelected)
				console.log(users)
				this.loadData()
				this.showEditUser = false
			}
		}
	}
</script>

<style scoped>
	.div-multiple{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom:20px;
    }
    .div-multiple .div-input{
        width: 48%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
        margin: 0;
    }
    .div-multiple .div-input .input-form{
        border-bottom-width: 4px;
        border-left: none;
        border-top: none;
        border-right: none;
        padding: 0 0.75rem 0 0.78rem;
        border-color: #eaeaea;
        background-color: #f2f2f2;
        color: rgba(55, 65, 81);
        border-radius: 4px;
        height: 2rem;
        width: 90%;
        transition-duration: 500ms;
    }
    .div-multiple .div-input .input-form:focus{
        border-color: rgba(124, 58, 237, 1);
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
	.submit{
        width: auto;
        height: 3em;
        border: none;
        background-color: #4069e0;
        color: white;
        font-weight: bold;
        font-size: 1em;
        border-radius: 5px;
        cursor: pointer;
		margin-bottom: 3em;
    }
    .submit:hover{
        background-color: #3557bd;
    }
    .submit:active{
        background-color: #3557bd;
        -webkit-box-shadow: inset 1px 1px 10px #294392;
        -moz-box-shadow: inset 1px 1px 10px #294392;
        box-shadow: inset 1px 1px 10px #294392;
    }
	.input small {
        display: block;
        color: #cf000f;
        font-weight: bold;
        font-size: 11px;
        padding-top: 3px;
        visibility: hidden;
    }

    .input.success input{
        border-bottom-width: 4px;
        border-left: none;
        border-top: none;
        border-right: none;
    }
    .input.success small{
        visibility: hidden;
    }

    .input.error input{
        border: 2px solid #e74c3c;
    }

    .input.error small{
        visibility: visible;
    }

	.main-container{
		display: flex;
		align-items: flex-start;
		justify-content: center;
		min-height: calc(100vh - 3em);
		height: auto;
		padding-top: 4em;
		padding-bottom: 5em;
	}
	.submit{
		margin-top: 10px!important;
	}
	.justify-center{
		justify-content: center;
	}
	.justify-evenly{
		justify-content: space-evenly
	}
	.flex {
		display: flex;
	}
	.w-100{
		width: 100%;	
	}
	.div-input{
		margin-bottom: 0px;
	}
	#customers {
		font-family: Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	#customers td, #customers th {
		border: 1px solid #ddd;
		padding: 8px;
	}

	#customers tr:nth-child(even){background-color: #f2f2f2;}

	#customers tr:hover {background-color: #ddd;}

	#customers th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: royalblue;
		color: white;
	}

	.btn{
		width: auto;
		height: 2em;
		border: none;
		color: white;
		font-weight: bold;
		font-size: 1em;
		border-radius: 5px;
		cursor: pointer;
		margin: 2px
	}

	.btn-edit{
		background-color: #00b16a;
	}
	.btn-edit:hover{
        background-color: #008f56;
    }
    .btn-edit:active{
        background-color: #008f56;
        -webkit-box-shadow: inset 1px 1px 10px #017044;
        -moz-box-shadow: inset 1px 1px 10px #017044;
        box-shadow: inset 1px 1px 10px #017044;
    }

	.btn-delete{
		background-color: #f03434;
	}
	.btn-delete:hover{
        background-color: #ce2828;
    }
    .btn-delete:active{
        background-color: #ce2828;
        -webkit-box-shadow: inset 1px 1px 10px #c21818;
        -moz-box-shadow: inset 1px 1px 10px #c21818;
        box-shadow: inset 1px 1px 10px #c21818;
    }
	.card{
		width: 80%;
		margin-bottom: 3em;
	}
	.btn-add{
		display: flex;
		align-items: center;
		margin-bottom: 1em!important;
		background-color: royalblue;
		width: 7em;
		justify-content: center;
	}
	@media only screen and (max-width: 1024px) {
		.footer-input{
			width: 90%;
		}
		.card{
			width: 90%!important;
		}
		table thead {
			border: none;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		table tr {
			border-bottom: 3px solid #ddd;
			display: block;
			margin-bottom: .625em;
		}
		
		table td {
			border-bottom: 1px solid #ddd;
			display: block;
			font-size: .8em;
			text-align: right;
		}
		
		table td::before {
			/*
			* aria-label has no advantage, it won't be read inside a table
			content: attr(aria-label);
			*/
			content: attr(data-label);
			float: left;
			font-weight: bold;
			text-transform: uppercase;
		}
		
		table td:last-child {
			border-bottom: 0;
		}
	}
</style>