<template>
  <DxScheduler
      :data-source="dataSource"
      :current-date="currentDate"
      :views="views"
      :height="600"
      text-expr="Text"
      current-view="month"
      start-date-expr="start"
      end-date-expr="end"
      date-serialization-format="yyyy-MM-dd HH:mm:ss"
  ></DxScheduler>
</template>

<script>
import DxScheduler from 'devextreme-vue/scheduler';
import CustomStore from "devextreme/data/custom_store";
import DataSource from "devextreme/data/data_source";
import { callBackEndCalendar } from "../../context/WorkingTimes";
import 'devextreme/dist/css/dx.light.css';
import notify from 'devextreme/ui/notify';

export default {
  name: 'workingtime',
  components: {
    DxScheduler,
  },
  data() {
    return {
      views: ['day', 'workWeek', 'month'],
      currentDate: new Date(2021, 9, 27),
      dataSource: this.schedulerDataSource(),
      allowAdding: true,
      allowDeleting: true,
      allowUpdating: true,
      allowResizing: true,
      allowDragging: true,
    };
  },
  computed: {
    editing() {
      return {
        allowAdding: this.allowAdding,
        allowDeleting: this.allowDeleting,
        allowUpdating: this.allowUpdating,
        allowResizing: this.allowResizing,
        allowDragging: this.allowDragging,
      };
    },
  },
  methods: {
    schedulerDataSource() {
    return new DataSource({
      store: new CustomStore({
        insert: (appointmentData, values) => {
          return callBackEndCalendar.postWorkingTimes(appointmentData.start, appointmentData.end, -1).then(response => {
            values = response;
            console.log(response)
            return values;
          });
        },
        remove: (appointmentData, values) => {
          return callBackEndCalendar.deleateWorkingTimes(appointmentData.id).then(response => {
            values = response;
            console.log(response)
            return values;
          });
        },
        load: (values) => {
          console.log("getWorkingTime")
          return callBackEndCalendar.getWorkingTimes(-1).then(response => {
            values = response;
            return values;
          });
        },
        update: (appointmentData, values) => {
          var result = callBackEndCalendar.putWorkingTimes(appointmentData.id, appointmentData.start, appointmentData.end).then(response => {
            values = response;
            return values;
          });
          return result;
        },
      }),
    });
    },
    showToast(event, value, type) {
      notify(`${event} "${value}"`, type, 9000);
    },

    showAddedToast() {
      this.showToast('Add of work schedule ! ', 'success');
    },

    showUpdatedToast() {
      this.showToast('Updated work schedule !', 'success');
    },

    showDeletedToast() {
      this.showToast('Deleted work schedule !', 'success');
    },
  }
};
</script>
<style scoped>
  .main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 3em);
    padding-top: 2.8em;
  }
</style>
