<template>
    <div class="main-container">
        <div class="card profile-flex">
            <div class="div-multiple">
                <section class="div-input input">
                    <h1 class="big-title mb-1">User profile</h1>
                    <label htmlFor="firstname">Firstname</label>
                    <input class="footer-input transition" type="text" v-model="this.firstname" placeholder="Firstnamer"/><br>
                    <label htmlFor="lastname">Last name </label>
                    <input class="footer-input transition" type="text" v-model="this.lastname" placeholder="Lastname"/><br>
                    <label htmlFor="email">Email adress</label>
                    <input class="footer-input transition" type="email" v-model="this.email" placeholder="example@example.com"/><br>
                    <label htmlFor="password">Password</label>
                    <input class="footer-input transition" type="password" v-model="this.password" placeholder="New password"/><br>
                    <input class="footer-input transition" type="password" v-model="this.password" placeholder="Confirm new password"/><br>
                    <button class="btn" @click="updateUser">Save</button>
                </section>
            </div>
            <div class="div-multiple">
                <section class="div-input input">
                    <span class="">Role: {{this.role}}</span><br>
                    <span class="">Status: {{this.status}}</span>
                <section>
                </section>
                    <h1 class="big-title mb-1">Manager infos</h1>
                    <span class="">Firstname: {{this.managerFirstname}}</span><br>
                    <span class="">Lastname: {{this.managerLastname}}</span><br>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import {callBackEnd} from '../../context/User';
    import {callBackEndClock} from '../../context/Clock';
    import jwt from 'jsonwebtoken'

    export default {
        data() {
            return {
                id: '',
                username: '',
                firstname: '',
                lastname: '',
                email: '',
                password: '',
                role: '',
                status: '',
                managerFirstname: '',
                managerLastname: '',
                data: null
            }
        },
        async created() {
            const token = sessionStorage.getItem("token")
            var decoded = jwt.decode(token);
            
            const user = await callBackEnd.getUser(decoded.sub)
            const manager = await callBackEnd.getUserManagerId(user.id)
            const clock = await callBackEndClock.getClocks()

            this.id = user.id
            this.username = user.username
            this.firstname = user.firstname
            this.lastname = user.lastname
            this.email = user.email
            this.role = user.role
            console.log(manager)
            this.managerFirstname = manager.firstnameManager
            this.managerLastname = manager.lastnameManager

            if(clock == null)
                this.status = "Not Working"
            else
                this.status = clock.status ? "Working" : "Not working"

        },
        methods: {
            /**
             * @vuese
             * This function get all information of the current user
            */
            async getUser() {
                const response = await callBackEnd.getUser(this.id)
                this.data = response;
            },
            /**
             * @vuese
             * This function create new user
            */
            async createUser() {
                const response = await callBackEnd.postUser(this.username, this.email, this.password)
                this.data = response;
            },
            /**
             * @vuese
             * This function update informations of the current user
            */
            async updateUser() {
                const response = await callBackEnd.updateUser(this.id, this.username, this.email, this.password)
                this.data = response;
            },
            /**
             * @vuese
             * This function delete the current user
            */
            async deleteUser() {
                const response = await callBackEnd.deleteUser(this.id)
                this.data = response;
            }
        }
    }
</script>

<style scoped>
    .main-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 3em);
        padding-top: 2.8em;
	}
    .h-auto {
        height: auto !important;
    }

    .mb-1 {
        margin-bottom: 1em;
    }

    .profile-flex {
        display: flex;
        align-items: center;
    }

    .div-multiple{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom:20px;
    }

    .div-multiple .div-input{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
        margin: 0;
        padding-left: 25%;
    }

    .btn, .btn-delete {
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em solid #FFFFFF;
        margin: 0.5em 0em 0.5em 0em;
        border-radius: 0.12em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #FFFFFF;
        background-color: royalblue;
        text-align: center;
        transition: all 0.2s;
    }

    .btn:hover {
        color: #000000;
        background-color: #FFFFFF;
    }

    .btn-delete:hover {
        color: #000000;
        background-color: darkred;
    }
    .card{
        width: 80%;
    }
    @media all and (max-width: 30em) {
        .btn, .btn-delete {
            display: block;
            margin: 0.4em auto;
        }
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 24px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        margin-left: 2px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        left: 4px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: royalblue;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px royalblue;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    ::placeholder {
        padding-left: 0.5em;
    }

    hr {
        background-color: whitesmoke;
        border: none;
        display: block;
        height: 1px;
        margin: 1.5rem 0;
    }

    h2 {
        margin-bottom: 1.3em;
    }
</style>