<template>
	<div>
		<div v-if="isConnected">
			<Navbar />
		</div>
		<router-view :key="$route.fullPath"/>
	</div>
</template>

<script>
	import Navbar from './components/Navbar.vue'
	import {verif} from './services/isTokenValid'

	export default {
		name: 'App',
		data () {
			return {
				isConnected: false
			}
		},
		components: {
			Navbar
		},
		updated () {
			this.isConnected = verif.isTokenExpired() ? true: false
		}
	}
</script>
<style>
	body{
		margin: 0;
		background-color: #f3f2f2;
	}
	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
		height: 100vh;
		background-color: #f3f2f2;
	}
	.big-title{
		color: royalblue;
		margin: 0;
	}
	.card{
		background-color: #fff;
		color: rgba(0, 0, 0, 0.87);
		-webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
		transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
		border-radius: 4px;
		box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
		padding: 10px;
	}
	.flex-container{
		display: flex;
		align-items: center;
		justify-content: center;
		height: calc(100vh - 3em);
		padding-top: 2.8em;
	}
	.container{
		width: 80%;
		height: auto;
	}

    .div-input{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
        margin-bottom: 20px;
    }

    .div-input label{
        color: #5B5B5B;
        font-size: medium;
        margin-bottom:5px
    }

    .footer-input{
        border-bottom-width: 4px;
        border-left: none;
        border-top: none;
        border-right: none;
        padding: 0 0.75rem 0 0.78rem;
        border-color: #eaeaea;
        background-color: #f2f2f2;
        color: rgba(55, 65, 81);
        border-radius: 4px;
        height: 2rem;
        width: 95%;
        transition-duration: 500ms;
    }

    .transition {
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }
    .footer-input:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
    .footer-input:focus {
        border-color: rgba(124, 58, 237, 1);
    }

</style>
