<template>
    <div class="h-100 w-90">
        <!-- <h1 class="big-title mb-1">Chartmanager</h1> -->
        <Splide class="graphiques-slider" :options="{ rewind: true, autoplay: true, pauseOnHover: false,  height: '37em', }">
            <SplideSlide>
                <DoughnutChart/>
            </SplideSlide>
            <SplideSlide>
                <LineChart/>
            </SplideSlide>
            <SplideSlide>
                <BarChart/>
            </SplideSlide>
        </Splide>
    </div>
</template>

<script>
    import { Splide, SplideSlide } from '@splidejs/vue-splide';
    import '@splidejs/splide/dist/css/themes/splide-skyblue.min.css';

    import DoughnutChart from './Charts/DoughnutChart.vue'
    import LineChart from './Charts/LineChart.vue'
    import BarChart from './Charts/BarChart.vue'

    // This is the component to display the main component for charts
    export default({
        name: 'Chartmanager',
        components: {
            DoughnutChart,
            LineChart,
            BarChart,
            Splide,
            SplideSlide,
        }
    });
</script>

<style>
    .title-graph{
        color: royalblue;
    }
    
    .h-100{
        height: 100%;
    }

     @media only screen and (max-width: 1024px) {
         .graphiques-slider{ 
             height: 35em;
         }
     }
</style>