<template>
    <div class="main-container">
        <div class="main">
            <div class="row">
                <div class="left new-card">
                    <Charts />
                </div>
                <div class="right">
                    <div class="col justify-space-between">
                        <div class="w-100 h-50 new-card clock">
                            <ClockManager />    
                        </div>
                        <div class="w-100 h-50 new-card alert">
                            <Alert />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ClockManager from '../Clocks/ClockManager.vue'
    import Charts from '../Chartmanager/Chartmanager.vue'
    import Alert from '../Alert.vue'
    
    // This is the component to display the Clock component
    export default {
        name: 'Dashboard',
        components: {
            ClockManager,
            Charts,
            Alert
        }
    }
</script>

<style scoped>
	.main-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 3em);
	}
    .main{
        width: 98%;
        height: 95%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }
    .clock{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .clock{
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .left{
        width: 59%;
        height: 99%;
    }
    .right{
        width: 39%;
        height: 99%;
    }
    .w-100{
        width: 100%;
    }
    .col{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .justify-space-between{
        justify-content: space-between;
    }
    .new-card{
        box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);;
        border-radius: 3px;
        border: 0;
        background-color:white;
    }
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
    .h-50{
        height: 49%;
    }
    .flex{
        display: flex;
    }
    @media only screen and (max-width: 1024px) {
        .main-container{
            padding-top: 10em;
        }
        .row {
            flex-direction: column;
        }
        .left{
            width: 100%;
            height: 35rem;
        }
        .right{
            width: 100%;
            margin-top: 1em
        }
        .flex-container {
            height: auto;
            padding-top: 1em;
        }
        .alert{
            margin-top: 1em;
            margin-bottom: 2em;
        }
        .clock, .alert{
            height: 10em!important;
        }
    }

</style>